= link_to t("entries.show.index"), root_path
= link_to t("entries.show.edit"), edit_entry_path(@entry)
= link_to t("entries.show.destroy"), @entry, method: :delete, data: {confirm: "Do you really want to delete this entry?"}

= @entry.created_at
= @entry.content
