.diary-header {
  font-size: 3em;
  // font-family: 'Crafty Girls', cursive;
  font-family: 'Vollkorn', serif;
  color: #3c3a47;
}


$simple-button-color: #666678;
.simple-button {
  appearance: none;
  background-color: $simple-button-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($simple-button-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $simple-button-color;
    }
  }
}

// .diary-home {
//   background-color: #ededf2;
// }

li.block {
  @include span-columns(3);
  @include omega(4n);
}

.entry-preview {
  height: 200px;
  background-color: #B2B4AF;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;

  // TODO: join common styles
  &__date-day {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: bold;
    @include position(absolute, null 13px 8px null);
    opacity: 0.8;
    text-transform: uppercase;
  }

  &__date-month-year {
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: bold;
    @include position(absolute, null 13px 3px null);
    opacity: 0.8;
    text-transform: uppercase;
  }
  
  &__picture {
    min-width:100%;
    min-height:100%;
  }
}

.button-group {
  .simple-button {
    float: left;
    margin-left: 10px;
  }

  .simple-button:first-child{
    margin-left: 0;
  }
}
